<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table border="2px">
      <tr>
        <th>Regno</th>
        <th>Name</th>
        <th>Branch</th>
        <th>email</th>
        <th>Mobile</th>
        <th>Marks</th>
      </tr>
      <% rows.forEach((row)=>{ %>
        <tr>
          <td><%=row.RegNo%></td>
          <td><%=row.Sname%></td>
          <td><%=row.Branch%></td>
          <td><%=row.Mobileno%></td>
          <td><%=row.emailID%></td>
          <td><%=row.Marks%></td>
        </tr>
      
      <%})%>
    </table>
  </body>
</html>